@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Times New Roman";
  src: local('Times New Roman'),
  url('./assets/fonts/OPTITimes-Roman.otf');
}




body{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Times New Roman" !important;
  overflow-x: hidden;
}
 /* chiroyli scrool */
html{
  scroll-behavior: smooth;
}
/* tugadi */

  .m{
padding: 0 20px 20px;
height: 100vh;
}


/* bu navbar orqaisdagi div */
.div{

  height: 90px;

}




/* tugadi */

/* bu home  */
.background {
  background-image: url('../src/assets/home/2024-05-25\ 15.59.06\ 3.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
 flex-wrap: wrap;
 cursor: pointer;



}
 .background .content {
  flex: 1 1 40rem;
padding:  3% 1% ;

   /* position: absolute; */

z-index: 2;

 }
.background .content .title{
      font-size: 4.5rem;
      color: white;
text-shadow: 5px 5px black;

    }

 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
}






@media (max-width: 768px) {
  .background .content {
    padding-top: 2rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .background img {
    width: 100%;
    max-width: 368px;
  }

  .background .content .title {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .background .content {
    padding-top: 2rem;
    padding-left: 10px;
    padding-right: 15px;
  }

  .background img {
    width: 100%;
    max-width: 320px;
  }

  .background .content .title {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .background .content {
    padding-top: 7rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .background img {
    width: 100%;
    max-width: 280px;
  }

  .background .content .title {
    font-size: 2rem;
  }
}



/* home tugadi */





/* bu about */
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:100vh;

}

.text-container {
  flex: 0 0 45%;
  height: 600px;
 font-size: 20px;
  padding: 0 20px;
  

}
.text-container h1{
  font-size: 30px;
}
.text-container p{
  margin-top: 10px;
  line-height: 33px;
}
.image-container {
  flex: 0 0 55%;

  padding: 20px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;

}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    height: auto;

  }

  .text-container{
flex: 1 0 90%;
padding: 50px  20px 0;
  }
  .image-container {
    flex: 1 0 100%;

  }
}
/* about tugadi */

/* sports */
/* .awards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;



}

.text-containerr {
  flex: 0 0 45%;
  height: 600px;
  font-size: 20px;
  padding: 50px 20px;


}

.text-containerr h1 {
  font-size: 30px;
}

.text-containerr p {
  margin-top: 10px;
  line-height: 35px;
}

.image-containerr {
  flex: 0 0 55%;

  padding: 20px;
}

img {
  width: 100%;
  height: 720px;
  object-fit: cover;

}

@media screen and (max-width: 768px) {
  .awards-container {
    flex-direction: column;
    height: auto;

  }

  .text-containerr {
    flex: 1 0 90%;
    padding: 50px 20px 0;
  }

  .image-containerr {
    flex: 1 0 100%;

  }
} */




/* staff.css */
