@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Times New Roman";
  src: local('Times New Roman'),
  url('./assets/fonts/OPTITimes-Roman.otf');
}




body{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Times New Roman" !important;
  overflow-x: hidden;
}
 /* chiroyli scrool */
html{
  scroll-behavior: smooth;
}
/* tugadi */

  .m{
padding: 0 20px 20px;
height: 100vh;
}


/* bu navbar orqaisdagi div */
.div{

  height: 90px;

}




/* tugadi */

/* bu home  */
.background {
  background-image: url('../src/assets/home/2024-05-25\ 15.59.06\ 3.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
 cursor: pointer;



}
 .background .content {
  flex: 1 1 40rem;
padding: 12%;

z-index: 2;

 }

  .content {
      position: relative;
      z-index: 2;
      text-align: center;
      color: white;
    }
  
 .content h1 {
   font-size: 3.5em;
   padding: 0 0 0 10px;
   margin: 0;
   text-shadow: 5px 5px black;
 }

 .content .btn{

  padding: 12px 30px;
  color: white;
  background-color:black;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 0.3s ease;

}
  .content .btn:hover {
   background-color: white;
   border:2px solid  black;
   color: black;
 }
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
}



@media (max-width: 576px) {
  .content h1 {
    font-size: 1.5em;
  }

  .btn {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .content h1 {
    font-size: 1.8em;
  }

  .btn {
    padding: 9px 18px;
    font-size: 1em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .content h1 {
    font-size: 2em;
  }

  .btn {
    padding: 10px 20px;
    font-size: 1.1em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .content h1 {

    font-size: 2.2em;
  }

  .btn {
    padding: 11px 22px;
    font-size: 1.2em;
  }
}





/* home tugadi */





/* bu about */
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90vh;

}

.text {
  flex: 0 0 45%;
  height: auto;
  font-size: 20px;
  padding: 0 20px;


}

.text h1 {
  font-size: 30px;
}

.text p {
padding: 20px 0;
  line-height: 31px;
}

.image {
  flex: 0 0 55%;
  height: auto;
padding: 20px;

}

.image img {
  width: 100%;
  height: auto;
  object-fit: contain;

}

@media screen and (max-width: 320px) {
  .about-container {
    flex-direction: column;
    height: auto;

  }

  .text {
    flex: 1 0 90%;
    padding: 10px 10px 0;
  }

  .image {
    flex: 1 0 100%;

  }
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    height: auto;

  }

  .text {
    flex: 1 0 90%;
    padding: 50px 20px 0;
  }

  .image {
    flex: 1 0 100%;

  }
}

@media screen and (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    height: auto;

  }

  .text {
    flex: 1 0 90%;
    padding: 50px 20px 0;
  }

  .image {
    flex: 1 0 100%;

  }
}

@media screen and (max-width: 1280px) {
  .about-container {
    flex-direction: column;
    height: auto;

  }

  .text {
    flex: 1 0 90%;
    padding: 50px 20px 0;
  }

  .image {
    flex: 1 0 100%;

  }
}

/* about tugadi */


/* awards */

.awards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  cursor: pointer;
}

.text-side {
  flex: 0 0 45%;
  height: 600px;
  font-size: 20px;
  padding: 0 20px;


}

.text-side h1 {
  font-size: 30px;
}

.text-side p {
 padding: 25px 0;
  line-height: 33px;
}

.image-side {
  flex: 0 0 55%;

  padding: 20px;
}

 .image-side img {
  width: 100%;
  height: 100vh;
  object-fit:cover;
  padding: 20px;
  border-radius: 100px;

}

@media screen and (max-width: 320px) {
  .awards-container {
    flex-direction: column;
    height: auto;

  }

  .text-side {
    flex: 1 0 90%;
    padding: 10px 10px 0;
  }

  .image-side {
    flex: 1 0 100%;

  }
}
@media screen and (max-width: 768px) {
  .awards-container {
    flex-direction: column;
    height: auto;

  }

  .text-side {
    flex: 1 0 90%;
    padding: 50px 20px 0;
  }

  .image-side {
    flex: 1 0 100%;

  }
}

@media screen and (max-width: 1024px) {
  .awards-container {
    flex-direction: column;
    height: auto;

  }

  .text-side {
    flex: 1 0 90%;
    padding: 50px 20px 0;
  }

  .image-side {
    flex: 1 0 100%;

  }
}

@media screen and (max-width: 1280px) {
  .awards-container {
    flex-direction: column;
    height: auto;

  }

  .text-side {
    flex: 1 0 90%;
    padding: 50px 20px 0;
  }

  .image-side {
    flex: 1 0 100%;

  }
}



.winner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  cursor: pointer;
}

.text-s {
  flex: 0 0 45%;
  height: 600px;
  font-size: 20px;
  padding: 0 20px;


}

.text-s h1 {
  font-size: 30px;
}

.text-s p {
  padding: 25px 0;
  line-height: 33px;
}

.image-s {
  flex: 0 0 55%;

  padding: 20px;
}

.image-s img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  padding: 20px;
  border-radius: 100px;

}

@media screen and (max-width: 320px) {
  .winner-container {
    flex-direction: column;
    height: auto;

  }

  .text-s {
    flex: 1 0 90%;
    padding: 10px 10px 0;
  }

  .image-s {
    flex: 1 0 100%;

  }
}

@media screen and (max-width: 768px) {
  .winner-container {
    flex-direction: column;
    height: auto;

  }

  .text-s {
    flex: 1 0 90%;
    padding: 50px 20px 0;
  }

  .image-s {
    flex: 1 0 100%;

  }
}

@media screen and (max-width: 1024px) {
  .winner-container {
    flex-direction: column;
    height: auto;

  }

  .text-s {
    flex: 1 0 90%;
    padding: 50px 20px 0;
  }

  .image-s {
    flex: 1 0 100%;

  }
}

@media screen and (max-width: 1280px) {
  .winner-container {
    flex-direction: column;
    height: auto;

  }

  .text-s {
    flex: 1 0 90%;
    padding: 50px 20px 0;
  }

  .image-s {
    flex: 1 0 100%;

  }
}

/* awards tugadi */





